.school{
    display: grid;
    min-height: 100vh;
}

.headerNotHomePage{
    align-self: start;
}

.footer{
    align-self: end;
}

.schoolWrapper{
    padding: 80px 0;
}

.schoolImageWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.imageItem{
    width: 100%;
}

.slider{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    z-index: 1;
    display: flex;
    align-items: center;
}

.sliderWrapper{
    width: 100%;
    height: 550px;
    /* border: 2px solid red; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.sliderImg{
    width: 100%;
    object-fit: cover;
}

.close{
   position: absolute;
   top: 20px;
   right: 20px;
   font-size: 30px;
   color: lightgray;
   background-color: black;
   border-radius: 50%;
   cursor: pointer;
}

.arrow{
  font-size: 40px;
  color: lightgray;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}

.arrowLeft{
    position: absolute;
    top: 50%;
    left: 10px;
}

.arrowRight{
    position: absolute;
    top: 50%;
    right: 10px;
}


.schoolInfo{
    overflow: auto;
    width: 80%;
    margin: 50px auto;
    padding: 15px;
}

.schoolInfo ul{
    list-style: none;
    cursor: pointer;
}

.messageSchool{
    /* border: 1px solid black; */
    width: 70%;
    margin: 0 auto;
}

.messageSchool h1{
    color: darkgreen;
    text-align: center;
    margin-bottom: 10px;
}

.messageSchool form{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.messageSchool form input{
    border: 1px solid rgb(239, 228, 228);
    outline: none;
    padding: 10px;
    border-radius: 5px;
}

.messageSchool form textarea{
    border: 1px solid rgb(239, 228, 228);
    outline: none;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
}

.messageSchool form button{
    background-color: var(--color_2);
    color: var(--color_4);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}


.schoolInfo ul li{
    border-bottom: 1px solid green;
    padding: 10px;
}

.schoolInfo ul li:nth-child(even){
    background-color: rgba(168, 249, 168, 0.462);
}

.schoolInfo ul li:nth-child(odd){
    background-color: rgba(212, 246, 212, 0.462);
}

@media(max-width: 1000px){
   .schoolInfo{
    width: 70%;
   }
}

@media(max-width: 768px){
    .schoolInfo, .messageSchool{
     width: 85%;
    }
 }

 @media(max-width: 480px){
    .schoolInfo, .messageSchool{
     width: 100%;
    }
 }

@media(max-width:770px){
    .slider{
        height: 50vh;
    }
}