.emailModal{
    background: rgba(233, 230, 230, 0.893);
    padding: 20px;
    width: 100%;
    position: relative;
}

.closeBtn{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    color: red;
}

.emailResetLink{
    background-color: red;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.success{
    color: green;
    font-weight: bold;
}

.error{
    color: red;
}