.pswResetForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pswResetForm h2{
    text-align: center;
}

.pswResetForm input, .pswResetForm button{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(211, 211, 211, 0.736);
    outline: none;
}

.pswResetForm button{
    background-color: darkgreen;
    color: white;
}

.pswResetForm p{
    text-align: center;

}

@media(max-width: 760px){
    .pswResetForm{
        width: 70%;
    }
}

@media(max-width: 480px){
    .pswResetForm{
        width: 90%;
    }
}